@page "/counter"
@page "/counter/{newcount:int}"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

@((MarkupString)message)

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<Waktu>
    <ChildContent>
        Ini jam gue
    </ChildContent>
</Waktu>
<button type="button" class="btn btn-primary"
        onclick="exampleJsFunctions.returnDataJs()">
    Trigger .NET static method return string result
</button>
