@page "/modal-demo"
@inject IModalService Modal
@using TestBlazor.Data

<h1>Hello, world!</h1>

Welcome to Blazored Modal.

<button @onclick="ShowModal" class="btn btn-primary">View Movies</button>

@code{
    void ShowModal()
    {
        var parameters = new ModalParameters();
        parameters.Add("MovieId", 1);
        Modal.OnClose += ModalClosed;
        Modal.Show<ModalPageSample>("Edit Movie", parameters);
    }
    void ModalClosed(ModalResult modalResult)
    {
        if (modalResult.Cancelled)
        {
            Console.WriteLine("Modal was cancelled");
        }
        else
        {
            Console.WriteLine(modalResult.Data);
        }
        Console.Write("Modal was closed by ");
        Console.WriteLine(modalResult.ModalType);
        
        Modal.OnClose -= ModalClosed;
    }

}